/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

.smallshape {
    width: 200px;
    height: 200px;
    background-color: #805215;
}

.largeshape {
    width: 800px;
    height: 150px;
    background-color: #805215;
    margin-top: 20px;
    margin-left: 20%;
}

.mainbackground {
    width:fit-content;
    height:fit-content;
    background-color: #D4A76A;
}

.headerbackground {
    width: fit-content;
    height: 200px;
    background-color: #FFDBAA;
}

.headertext {
    background-color: #553100;
    margin-left: 700px;
    
}

.card{
    display:inline-block;
    background:white;
    width:20%;
    margin-left: 8%;
    margin-top:30px;
    height: 150px;
    padding:15px;
  }

.mediumboxposition1 {
    display:inline-block;
    margin-left: 4%;
    width:25%;
    margin-top:60px;
    height: 150px;
    padding:15px;
    background-color: #805215;
}
.main{
    background: #D4A76A;
    height:100vh;
  }