/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

.smallshape {
    width: 200px;
    height: 200px;
    background-color: #805215;
}

.largeshape {
    width: 90%;
    height: 150px;
    background-color: white;
    margin-top: 20px;
    margin-left: 5%;
    padding-bottom: 10px;
}

.mainbackground {
    width:fit-content;
    height:fit-content;
    background-color: #D4A76A;
}

.headerbackground {
    width: 100%;
    height: 200px;
    background-color: #FFDBAA;
}

.headertext {
    font-size:xx-large;
   display:inline-block;
   margin-right: 525px;
    color: #805215;
    
}

.card{
    display:inline-block;
    background:#805215;
    color: white;
    width:auto;
    margin-left: 2%;
    height: 15px;
    padding:15px;
  }

.mediumboxposition1 {
    display:inline-block;
    align-content: center;
    margin-left: 10%;
    width:300px;
    height: 175px;
    margin-top: 80px;
    background-color: white;
}
.mediumboxtexttitle {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mediumboxtext {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}
.mediumboxtextbutton {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background:#805215; 
    width:90%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.largeboxtexttitle {
    padding-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
.largeboxtext {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}
.largeboxtextbutton {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background:#805215; 
    width:95%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main{
    background: #D4A76A;
    padding-bottom: 35px;
  }